<li class="list-group-item">
  <b>{{id}}.</b> {{burger_name}} 
  {{#unless devoured}}
    <button value="{{id}}" class="btn btn-secondary devour-btn float-right">Devour it</button>
  {{/unless}}
</li>